body {
  background: #ffffff;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color: #b8a07e;
  text-decoration: underline;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/
.flex-nav {
    display: flex;
    justify-content:space-evenly;
}

nav a {
    color:dimgray;
    text-decoration: none;
    display: block;
}

nav li:hover{
    background-color: antiquewhite;
}

nav > ul{
    background-color: floralwhite;
    list-style: none;
    margin: 20px;
    padding:12px;
    margin-left: 3cm;
    margin-right: 3cm;
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
  background-image: url('background.jpg');
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items:center;
  height:500px;
  opacity: 97%;
}


#header .header-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content h1 {
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.header-content p {
  font-size: 15px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 150px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}


/*-----------------------------------------------------------------------------------*/
/*  About Myself
/*-----------------------------------------------------------------------------------*/

#myself {
  width: 100%;
  height: auto;
  background-image: url('marble.jpg');
  padding-top: 190px;
}

#myself .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#myself .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#myself .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
}

#myself .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/*  About Pri & Sec Scl
/*-----------------------------------------------------------------------------------*/

#primary_and_secondary_school_education {
  width: 100%;
  height: auto;
  background-image: url('marble2.jpg');
  padding-top: 190px;
}

#primary_and_secondary_school_education .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#primary_and_secondary_school_education .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#primary_and_secondary_school_education .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
}

#primary_and_secondary_school_education .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/*  About Tertiary Edu
/*-----------------------------------------------------------------------------------*/

#tertiary_education {
  width: 100%;
  height: auto;
  background-image: url('marble.jpg');
  padding-top: 190px;
}

#tertiary_education .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#tertiary_education .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#tertiary_education .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
}

#tertiary_education .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/*  About Work
/*-----------------------------------------------------------------------------------*/

#work_experience {
  width: 100%;
  height: auto;
  background-image: url('marble2.jpg');
  padding-top: 190px;
}

#work_experience .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#work_experience .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#work_experience .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
}

#work_experience .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/*  About Overseas Edu
/*-----------------------------------------------------------------------------------*/

#overseas_education_experience {
  width: 100%;
  height: auto;
  background-image: url('marble.jpg');
  padding-top: 190px;
}

#overseas_education_experience .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#overseas_education_experience .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#overseas_education_experience .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
}

#overseas_education_experience .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/*  About Future Plans
/*-----------------------------------------------------------------------------------*/

#future_plans {
  width: 100%;
  height: auto;
  background-image: url('marble2.jpg');
  padding-top: 190px;
}

#future_plans .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#future_plans .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#future_plans .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
}

#future_plans .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/*  Ending
/*-----------------------------------------------------------------------------------*/

#ending {
  width: 100%;
  height: auto;
  background-image: url('marble.jpg');
  padding-top: 190px;
}

#ending .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#ending .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#ending .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
}

#ending .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}